[Desktop Entry]
Version=1.0
Name=Edit
Exec=/home/pi/Documents/capstone-radio/edit.py
Icon=/home/pi/Documents/capstone-radio/Scripts/images/edit.png
Terminal=true
Type=Application
Categories=Development
Name[en_GB]=Edit
