[Desktop Entry]
Version=1.0
Name=Radio
Exec=/home/pi/Documents/radio/radio.py
Icon=/home/pi/Scripts/images/radio.png
Terminal=true
Type=Application
Categories=Development
