[Desktop Entry]
Version=1.0
Name=Reboot
Exec=/home/pi/Documents/capstone-radio/Scripts/reboot.sh
Icon=/home/pi/Documents/capstone-radio/Scripts/images/reboot.png
Terminal=true
Type=Application
Categories=Development
Name[en_GB]=Reboot
