[Desktop Entry]
Version=1.0
Name=Shutdown
Exec=/home/pi/Scripts/shutdown.sh
Icon=/home/pi/Scripts/images/shutdown.png
Terminal=true
Type=Application
Categories=Development
Name[en_GB]=Shutdown
